{% extends "base.twig" %}
{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type}} padding" id="post-{{ post.ID}}">
			<section class="article-content container">
				{% if post.thumbnail is not empty %}
				<img src="{{ post.thumbnail.src}}" alt="feature-image"  data-aos="fade-in"/>
				{% endif %}
				<div class="article-body" data-aos="fade-in">
					{{post.meta('service_details').intro}}
				</div>
				{% if post.meta('service_details').add_pdf == true and post.meta('service_details').pdf is not empty %}
					<div class="btns">
						{% for pdf in post.meta('service_details').pdf %}
							<a class="custom-btn" href="{{pdf.document.url}}" rel="noopener noreferrer" target="_blank" aria-label="{{pdf.name}}">
								{{pdf.name}}
							</a>						
						{% endfor %}
					</div>
				{% endif %}
			</section>
		
		</article>
	</div>
{% endblock %}
