<div id="contact" class="contact container">
	<div class="contact-info">
		<a class="site-logo" href="{{site.url}}" rel="home" aria-label="{{site.name}}">
			{{source (directory ~ '/images/logo/procast-logo.svg') }}
		</a>
		<div class="connect-with-us">
			<h2 class="h4">Connect with us</h2>
			{% include 'partials/social-media.twig' %}
		</div>
		<div class="contact-us">
			<h2 class="h4">Contact Us</h2>
			<p class="address">{{ options.address }}</p>
			{% set myEmail = options.email_address %}
			{% include 'partials/email.twig' %}
			<a href="tel:{{ options.phone_number }}" aria-label="Phone us at {{options.phone_number}}">
                {% set phoneNumber = options.phone_number %}
                {% include 'partials/phone-number.twig' %}
            </a>
		</div>
	</div>
	<div class="copyright center">
		<span class="copyright-text">&copy;
			{{"now"|date('Y')}}
			ProCast
		</span>
		<span class="site-by">
			| Site by
			<a href="https://onpoint.ca/" target="_blank" rel="noopener noreferrer" aria-label="link to PSone website">onPoint</a>
		</span>
		<span>
			|
			<a href="https://policies.google.com/technologies/partner-sites" target="_blank" rel="noopener noreferrer" aria-label="Link to google terms">Google Terms</a>
		</span>
	</div>
</div>
