{% import './components/image.twig' as Image %}

{% if not fn('is_page',"8") %}
	<div class="hero not-home-hero">
		
        {% if fn('is_page',"31") %}
            <div class="hero-text padding-lr">
                <h1 class="center container" data-aos="fade-in">{{field.meta('title')}}</h1>
                {% if (field.meta('want_to') == true) and field.meta('subtitle') is not empty %}
                    <p class="subtitle h5" data-aos="fade-in">{{field.meta('subtitle')}}</p>
                {% endif %}
            </div>
            <img src="{{ site.theme.link }}/images/banner/capabilities-banner.jpg" alt="{{field.meta('title')}}" class="img-responsive" data-aos="fade-zoom-in" data-aos-duration="800"/>
        {# {% endif %} #}
        {% elseif fn('is_page',"41") %}
            <div class="hero-text padding-lr">
                <h1 class="center container" data-aos="fade-in">{{field.meta('title')}}</h1>
                {% if (field.meta('want_to') == true) and field.meta('subtitle') is not empty %}
                    <p class="subtitle h5" data-aos="fade-in">{{field.meta('subtitle')}}</p>
                {% endif %}
            </div>
            <img src="{{ site.theme.link }}/images/banner/contact-banner.jpg" alt="{{field.meta('title')}}" class="img-responsive" data-aos="fade-zoom-in" data-aos-duration="800"/>
        {# {% endif %} #}
        {% elseif fn('is_page',"39") %}
            <div class="hero-text padding-lr">
                <h1 class="center container" data-aos="fade-in">{{field.meta('title')}}</h1>
                {% if (field.meta('want_to') == true) and field.meta('subtitle') is not empty %}
                    <p class="subtitle h5" data-aos="fade-in">{{field.meta('subtitle')}}</p>
                {% endif %}
            </div>
            <img src="{{ site.theme.link }}/images/banner/news-banner.jpg" alt="{{field.meta('title')}}" class="img-responsive" data-aos="fade-zoom-in" data-aos-duration="800"/>
        {# {% endif %} #}
        {% elseif fn('is_page',"29") %}
            <div class="hero-text padding-lr">
                <h1 class="center container" data-aos="fade-in">{{field.meta('title')}}</h1>
                {% if (field.meta('want_to') == true) and field.meta('subtitle') is not empty %}
                    <p class="subtitle h5" data-aos="fade-in">{{field.meta('subtitle')}}</p>
                {% endif %}
            </div>
            <img src="{{ site.theme.link }}/images/banner/process-banner.jpg" alt="{{field.meta('title')}}" class="img-responsive" data-aos="fade-zoom-in" data-aos-duration="800"/>
        {# {% endif %} #}
        {% elseif fn('is_page',"35") %}
            <div class="hero-text padding-lr">
                <h1 class="center container" data-aos="fade-in">{{field.meta('title')}}</h1>
                {% if (field.meta('want_to') == true) and field.meta('subtitle') is not empty %}
                    <p class="subtitle h5" data-aos="fade-in">{{field.meta('subtitle')}}</p>
                {% endif %}
            </div>
            <img src="{{ site.theme.link }}/images/banner/portfolio-banner.jpg" alt="{{field.meta('title')}}" class="img-responsive" data-aos="fade-zoom-in" data-aos-duration="800"/>
        {# {% endif %} #}
        {% elseif fn('is_page',"33") %}
            <div class="hero-text padding-lr">
                <h1 class="center container" data-aos="fade-in">{{field.meta('title')}}</h1>
                {% if (field.meta('want_to') == true) and field.meta('subtitle') is not empty %}
                    <p class="subtitle h5" data-aos="fade-in">{{field.meta('subtitle')}}</p>
                {% endif %}
            </div>
            <img src="{{ site.theme.link }}/images/banner/service-banner.jpg" alt="{{field.meta('title')}}" class="img-responsive" data-aos="fade-zoom-in" data-aos-duration="800"/>
        {# {% endif %} #}
        {% elseif fn('is_page',"27") %}
            <div class="hero-text padding-lr">
                <h1 class="center container" data-aos="fade-in">{{field.meta('title')}}</h1>
                {% if (field.meta('want_to') == true) and field.meta('subtitle') is not empty %}
                    <p class="subtitle h5" data-aos="fade-in">{{field.meta('subtitle')}}</p>
                {% endif %}
            </div>
            <img src="{{ site.theme.link }}/images/banner/who-we-are-banner.jpg" alt="{{field.meta('title')}}" class="img-responsive" data-aos="fade-zoom-in" data-aos-duration="800"/>
        {% elseif fn('is_singular','our-services') %}    
            <div class="hero-text padding-lr">
                <h1 class="center container" data-aos="fade-in">{{post.title}}</h1>
            </div>
            <img src="{{ site.theme.link }}/images/banner/single-service-banner.jpg" alt="{{field.meta('title')}}" class="img-responsive" data-aos="fade-zoom-in" data-aos-duration="800"/>
        {% elseif fn('is_singular','news') %} 
            <div class="hero-text padding-lr">
                <h1 class="center container" data-aos="fade-in">News &amp; Insights</h1>
            </div>
            <img src="{{ site.theme.link }}/images/banner/news-single-banner.jpg" alt="{{field.meta('title')}}" class="img-responsive" data-aos="fade-zoom-in" data-aos-duration="800"/>
    
        {% endif %}
	</div>
{% endif %}
{# Single page for Services #}
{# {% if fn('is_singular','our-services') %}
    <div class="hero not-home-hero">
        <div class="hero-text padding-lr">
            <h1 class="center container" data-aos="fade-in">{{post.title}}</h1>
        </div>
        <img src="{{ site.theme.link }}/images/banner/single-service-banner.jpg" alt="{{field.meta('title')}}" class="img-responsive" data-aos="fade-zoom-in" data-aos-duration="800"/>
    </div>
{% endif %} #}
{# Single page for News #}
{# {% if fn('is_singular','news') %}
    <div class="hero not-home-hero">
        <div class="hero-text padding-lr">
            <h1 class="center container" data-aos="fade-in">News &amp; Insights</h1>
        </div>
        <img src="{{ site.theme.link }}/images/banner/news-single-banner.jpg" alt="{{field.meta('title')}}" class="img-responsive" data-aos="fade-zoom-in" data-aos-duration="800"/>
    </div>
{% endif %} #}
{# if the page is home page #}
{% if fn('is_page',"8") %}
	<div class="hero home-hero">
		<video class="desktop-view"
			width="100%" muted loop autoplay poster="{{ site.theme.link }}/images/banner/hero-banner.jpg" controlslist="nodownload" data-aos="fade-in" data-aos-delay="800" data-aos-duration="800">
            <source src="{{ site.theme.link }}/video/procast-header-video.webm" type="video/webm">
			<source src="{{ site.theme.link }}/video/procast-header-video.mp4" type="video/mp4"> 
            Your browser does not support the video tag.
		</video>
        <img src="{{ site.theme.link }}/images/banner/hero-banner.jpg" alt="{{field.meta('title')}}" class="img-responsive mobile-view"/>
        <div class="hero-text padding-lr">
		    <h1 class="center container" data-aos="fade-in" data-aos-duration="1200" data-aos-delay="1500">{{field.meta('title')}}</h1>
	    </div>
	</div>
{% endif %}
