<div class="social-media">
  {% if options.facebook %}
    <a href="{{ options.facebook }}" target="_blank" rel="noopener noreferrer"  aria-label="open facebook">
      {{ source(directory ~ '/images/social/facebook.svg') }}
    </a>
  {% endif %}
  {% if options.instagram %}
    <a href="{{ options.instagram }}" target="_blank" rel="noopener noreferrer"  aria-label="open instagram">
      {{ source(directory ~ '/images/social/instagram.svg') }}
    </a>
  {% endif %}
  {% if options.twitter %}
    <a href="{{ options.twitter }}" target="_blank" rel="noopener noreferrer"  aria-label="open twitter" class="twitter">
      {{ source(directory ~ '/images/social/twitter.svg') }}
    </a>
  {% endif %}
  {% if options.linkedin %}
    <a href="{{ options.linkedin }}" target="_blank" rel="noopener noreferrer"  aria-label="open linkedin">
      {{ source(directory ~ '/images/social/linkedin.svg') }}
    </a>
  {% endif %}  
  {% if options.you_tube %}
    <a href="{{ options.you_tube }}" target="_blank" rel="noopener noreferrer"  aria-label="open you tube">
      {{ source(directory ~ '/images/social/you-tube.svg') }}
    </a>
  {% endif %}
</div>